In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
data = pd.read_csv("../data/aapl_1d_train.csv")

In [7]:
data.head()

,Date,Open,High,Low,Close,Adjusted_close,Volume
0,2000-01-03,104.8768,112.5040,101.6848,111.9328,0.8472,535796800
1,2000-01-04,108.2480,110.6224,101.1920,102.5024,0.7758,512377600
2,2000-01-05,103.7456,110.5664,102.9952,104.0032,0.7872,778321600
3,2000-01-06,106.1200,107.0048,94.9984,94.9984,0.7190,767972800
4,2000-01-07,96.4992,101.0016,95.5024,99.5008,0.7531,460734400

In [8]:
# Feature engineering: Calcular la diferencia entre el alto y bajo del día
data['High-Low'] = data['High'] - data['Low']

# Feature engineering: Calcular el porcentaje de cambio en el precio de cierre
data['Close-Change%'] = data['Close'].pct_change() * 100

# Feature engineering: Calcular el promedio móvil de 3 días del precio de cierre
data['MA_3days'] = data['Close'].rolling(window=3).mean()

# Crear la columna 'y' basada en la diferencia entre el cierre de un día y el siguiente
data['y'] = data['Close'].diff().shift(-1)

# Asignar valores a la columna 'y' categóricamente (comprar, vender, mantener)
data['y'] = pd.cut(data['y'], bins=[-float('inf'), 0, float('inf')], labels=['Vender', 'Comprar'])

# Imprimir el DataFrame resultante con las nuevas características
data.head()

,Date,Open,High,Low,Close,Adjusted_close,Volume,High-Low,Close-Change%,MA_3days,y
0,2000-01-03,104.8768,112.5040,101.6848,111.9328,0.8472,535796800,10.8192,NaN,NaN,Vender
1,2000-01-04,108.2480,110.6224,101.1920,102.5024,0.7758,512377600,9.4304,-8.425055,NaN,Comprar
2,2000-01-05,103.7456,110.5664,102.9952,104.0032,0.7872,778321600,7.5712,1.464161,106.146133,Vender
3,2000-01-06,106.1200,107.0048,94.9984,94.9984,0.7190,767972800,12.0064,-8.658195,100.501333,Comprar
4,2000-01-07,96.4992,101.0016,95.5024,99.5008,0.7531,460734400,5.4992,4.739448,99.500800,Vender